.ministriesNavButton {
    display: block;
    border: 2px solid #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    color: #fff;
    padding: 1em;
}

.ministriesNavButton:hover {
    background-color: #fff;
    color: #6B7986;
}

.activeMinistriesNavButton {
    background-color: #fff;
    color: #6B7986;
}