* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif !important;
  background-color: rgb(35, 48, 59) !important;
}

.wrapper {
  margin: 0 auto;
}

.main {
  background-color: gray;
  padding: 6em 20% 1em 20%;
  background-image: url("https://themediashop-scot.co.uk/wp-content/uploads/2018/07/test-pattern-152459.png");
  background-size: 100% auto;
  background-attachment: fixed;
}

.underline {
  border-bottom: orangered solid 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
}
